/*reset css*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/*style */

.container {
  width: 960px;
  margin: auto;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px;
  border-style: solid;
  border-color: gray;
}
body {
  font: 16px/28px arial, sans-serif;
  background-color: darkgray;
  background-image: url(flag.png);
}
.header {
  padding-top: 15px;
  padding-left: 20px;
}
.header ul {
  padding-left: 0px;
  margin-top: -10px;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}
.header a {
  text-decoration: none;
  padding: 3px;
}
.header a:hover {
  background-color: mediumspringgreen;
  color: black;
}

.hero {
  margin-top: 10px;
  height: 280px;
  background-image: url(ikn.png);
  background-position: -110px -100px;

  border-width: 3px;
}

.main {
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  float: left;
}
.main h2 {
  font-size: 28px;
  font-weight: bold;
}
.main .penulis {
  font-size: 11px;
  margin-top: 5px;
}

.main p {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  background-color: rgb(74, 74, 200);
  color: aliceblue;
  text-align: center;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}

.sidebar {
  width: 300px;
  float: right;
  padding: 20px;
}
.sidebar h3 {
  font-weight: bold;
  color: grey;
}
.sidebar img {
  width: 90px;
  height: auto;
  float: left;
  padding-right: 15px;
}
.sidebar p {
  font-size: small;
}

/*micro clearfix */
/**
 * For modern browsers
 * 1. The space main is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}
